In [6]:
# pandas 임포트
import pandas as pd

path = './data/'
filename = 'fhvhv_tripdata_2020-03_short.csv'

# TLC 데이터 로딩(csv 파일 -> DataFrame 객체)
df = pd.read_csv(path + filename)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xbd in position 247: invalid start byte

In [7]:
import pandas as pd

path = './data/'
filename = 'fhvhv_tripdata_2020-03_short.csv'

In [8]:
df = pd.read_csv(path + 'fhvhv_tripdata_2020-03_short.csv', encoding='cp949')

## DataFrame 기본 메서드 및 속성
+ DataFrame.head()
+ DataFrame.info()
+ DataFrame.shape
+ Series 객체 접근: DataFrame['var_name'] 또는 DataFrame.var_name
+ Series.unique()

In [9]:
df.head()

,hvfhs_license_num,dispatching_base_num,pickup_datetime,pickup_datetime.1,PULocationID,DOLocationID,SR_Flag,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,HV0005,B02510,2020-03-01 0:03,2020-03-01 0:23,81,159,NaN,NaN,hvfhs_license_num,NaN,NaN,NaN,NaN
1,HV0005,B02510,2020-03-01 0:28,2020-03-01 0:38,168,119,NaN,NaN,NaN,승차공유 서비스 기업 라이센스 ID,NaN,NaN,NaN
2,HV0003,B02764,2020-03-01 0:03,2020-03-01 0:15,137,209,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,HV0003,B02764,2020-03-01 0:18,2020-03-01 0:38,209,80,NaN,NaN,dispatching_base_num,NaN,NaN,NaN,NaN
4,HV0003,B02764,2020-03-01 0:44,2020-03-01 0:58,256,226,NaN,NaN,NaN,배차 중개 업체 라이선스 ID,NaN,NaN,NaN

In [10]:
# data frame의 간단한 정보 출력
    # rangeIndex = row = sample = instance = record
    # SR_Flag  Dtype = float인 이유 : 비어있는 값
    # object 가장 큰 datatype, 보통 문자열을 포함   int, float 등을 포함
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 13 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   hvfhs_license_num     1048575 non-null  object
 1   dispatching_base_num  1048575 non-null  object
 2   pickup_datetime       1048575 non-null  object
 3   pickup_datetime.1     1048575 non-null  object
 4   PULocationID          1048575 non-null  int64
 5   DOLocationID          1048575 non-null  int64
 6   SR_Flag               130174 non-null   float64
 7   Unnamed: 7            0 non-null        float64
 8   Unnamed: 8            7 non-null        object
 9   Unnamed: 9            2 non-null        object
 10  Unnamed: 10           0 non-null        float64
 11  Unnamed: 11           0 non-null        float64
 12  Unnamed: 12           0 non-null        float64
dtypes: float64(5), int64(2), object(6)
memory usage: 104.0+ MB

In [11]:
# 
df.shape

(1048575, 13)

In [13]:
# 동일 결과
# df['hvfhs_licences_num']
df.hvfhs_license_num

0          HV0005
1          HV0005
2          HV0003
3          HV0003
4          HV0003
            ...
1048570    HV0003
1048571    HV0003
1048572    HV0003
1048573    HV0003
1048574    HV0003
Name: hvfhs_license_num, Length: 1048575, dtype: object

In [15]:
# .unique()  unique한 값들만을 출력
df['hvfhs_license_num'].unique()

array(['HV0005', 'HV0003', 'HV0004'], dtype=object)

In [16]:
# .unique()  unique값의 갯수
df['hvfhs_license_num'].nunique()

3

In [17]:
# 수치(숫자 값) 만을 통계 내고 싶을 때
df.describe()

,PULocationID,DOLocationID,SR_Flag,Unnamed: 7,Unnamed: 10,Unnamed: 11,Unnamed: 12
count,1.048575e+06,1.048575e+06,130174.0,0.0,0.0,0.0,0.0
mean,1.373331e+02,1.401988e+02,1.0,NaN,NaN,NaN,NaN
std,7.574138e+01,7.761326e+01,0.0,NaN,NaN,NaN,NaN
min,1.000000e+00,1.000000e+00,1.0,NaN,NaN,NaN,NaN
25%,7.400000e+01,7.400000e+01,1.0,NaN,NaN,NaN,NaN
50%,1.380000e+02,1.400000e+02,1.0,NaN,NaN,NaN,NaN
75%,2.100000e+02,2.150000e+02,1.0,NaN,NaN,NaN,NaN
max,2.650000e+02,2.650000e+02,1.0,NaN,NaN,NaN,NaN

## RDD 생성하기

### pyspark 시작하기
1. pyspark 임포트
2. SparkConf 객체 생성
3. SparkConf 객체를 이용하여 SparkContext 객체 생성

### RDD 생성 방법
+ SparkContext.textFile(): 텍스트 파일(예: csv)을 읽어서 RDD 객체를 생성
+ SparkContext.parallelize(): 파이썬 객체(예: List)로부터 RDD 객체를 생성
+ 하둡 파일 시스템(HDFS) 또는 데이터베이스(예: Hive, Cassandra, MySQL)로부터 읽기

In [18]:
from pyspark import SparkConf, SparkContext

In [19]:
conf = SparkConf().setMaster('local').setAppName('dataframe-and-trips')
sc = SparkContext(conf=conf)

In [20]:
lines = sc.textFile(path + filename)

In [21]:
rdd = sc.parallelize([1,2,3,4])