[과제: udf 등록 및 SQL 처리]
UDF 함수명: age_category(age)
- age가 35살 미만: 'young'
- age가 35살-59살: 'adult'
- age가 60살 이상: 'senior'

데이터프레임
- 변수: name, age (예: '안현', 39)
- 데이터 5개~10개 생성 

SQL 출력 결과: name, age_category(age)

- 제출 방법: GitHub에 업로드
- 제출 기한: 5.24(수)

In [23]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master('local').appName('udf_age_category').getOrCreate()

In [24]:
name = [
    ('류승룡', 54),
    ('안유진', 21),
    ('이순재', 90),
    ('김강훈', 15),
    ('손흥민', 32),
    ('강부자', 83),
    ('박해미', 60),
    ('박서준', 36),
    ('박은빈', 32),
    ('김연아', 34),
]

In [25]:
schema = ['name', 'age']

In [26]:
df = spark.createDataFrame(data = name, schema = schema)

In [27]:
df.show()

+------+---+
|  name|age|
+------+---+
|류승룡| 54|
|안유진| 21|
|이순재| 90|
|김강훈| 15|
|손흥민| 32|
|강부자| 83|
|박해미| 60|
|박서준| 36|
|박은빈| 32|
|김연아| 34|
+------+---+

In [28]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

In [29]:
df.createOrReplaceTempView('age')

In [30]:
def age_category(age):
    if (age < 35):
        return 'young'
    elif (age >= 35 and age < 59):
        return 'adult'
    else:
        return 'senior'

In [31]:
spark.udf.register('age_category', age_category)

In [32]:
#SQL문처리
spark.sql("SELECT name, age, age_category(age) \
            From age").show()

+------+---+-----------------+
|  name|age|age_category(age)|
+------+---+-----------------+
|류승룡| 54|            adult|
|안유진| 21|            young|
|이순재| 90|           senior|
|김강훈| 15|            young|
|손흥민| 32|            young|
|강부자| 83|           senior|
|박해미| 60|           senior|
|박서준| 36|            adult|
|박은빈| 32|            young|
|김연아| 34|            young|
+------+---+-----------------+